body {
    font-family: 'Arial', sans-serif;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #282c34;
        color: white;
    }
}

h1 {
    text-align: center;
}

#chart-container {
    width: 70%;
    height: 70%;
    margin: auto;
}

canvas {
    display: block;
}

#profile-container {
    display: flex;
    justify-content: space-around;
}

#profile-container > div {
    padding: 2rem;
}

.profile {
    border: 1px solid white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
}
